body {
  margin: 0;
  padding: 1em 3em;
}

.text {
  font-family: "Roboto", sans-serif;
}

.inline-link {
  text-decoration: underline;
  color: #000;
}

.hr {
  border-radius: 7px 7px 7px 7px;
  border: 0;
  margin-top: 0;
  margin-bottom: 15px;
  height: 3px;
  background-color: #ed4245;
}

.button {
  color: white;
  border-radius: 3px;
  width: auto;
  height: 30px;
  font-family: "Roboto", sans-serif;
  border: 0px;
}

.buttonBlue {
  background-color: #5865f2;
}

.buttonBlue:hover {
  background-color: #4752c4;
  cursor: pointer;
}

.buttonBlue:active {
  background-color: #3c45a5;
}

.buttonRed {
  background-color: #ed4245;
}

.buttonRed:hover {
  background-color: #d53b3e;
  cursor: pointer;
}

.buttonRed:active {
  background-color: #be3537;
}
